.HomePageContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    /* height: 100vh; */
    gap: 10px;
  }

  
  
  .HomePageMyTankContainer {
    width: 60%;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    padding: 1.5rem;
  }
  
  .HomePageMyTankContainerHeader {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .devicemain{
    display: block;
    gap: 2%;
    
  }
  
  .HomePageMyTankContainerHeaderText {
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
  }
  
  .HomePageToggleButtonsContainer {
    display: flex;
    width: auto !important;
    align-items: flex-start !important;
    background: #f6f7f8 !important;
    padding: 6px !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px !important;
  }
  
  .HomePageToggleButtons {
    text-align: start !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 10px !important;
    border: none !important;
    width: 80px !important;
    text-transform: capitalize !important;
    padding: 6px 8px !important;
  }
  
  .HomePageHeaderTankAndQuickDetails {
    display: flex;
    gap: 40px;
    align-items: end;
    padding: 1rem;
  }
  
  .HomePageTankContainer {
    display: flex;
    padding: 1rem;
    width: 320px;
    position: relative;
  }
  
  .HomePageTankBody {
    height: 350px;
    width: 300px;
    background-color: #f1f2f6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    display: flex;
  
    justify-content: start;
  }
  
  .HomePageTankCloser {
    width: 100px;
    height: 13px;
    background-color: #f1f2f6;
    margin-left: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 5px;
  }
  
  .TankWaves {
    margin-top: -0rem;
  }
  
  svg {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 85px;
    border-top-left-radius: 85px;
    border-top-width: thin;
    
  }
  
  .HomePageChartLines {
    height: 393px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin-top: 25px;
  
  }
  
  .HomePageChartLinesLine {
    display: flex;
    align-items: center;
    color: #989dab;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  
  .HomePageChartLinesLineMesurement {
    width: 299px;
    height: 1px !important;
    margin-left: 0.6rem;
    background-color: #e1e2e4 !important;
  }
  
  .HomePageChartLinesLineMesurementMinimum {
    width: 292px;
    height: 1px !important;
    margin-left: 0.7rem;
    background-color: #e1e2e4 !important;
  }
  
  .TankModelContent {
    padding: 0rem 2rem;
  }
  
  .HomePageQuickStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .HomepageLitersAndGallonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
  }
  .HomepageLitersAndGallonsContent{
    border: none !important;
    outline: none !important;
  }
  
  .HomePageQuickStatsText {
    color: #000;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0rem;
  }
  
  .HomePageAverageDailyUsageOfWaterContainer {
    display: flex;
    width: 100%;
    padding: 6px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #f9fbfe;
  }
  
  .HomePageAverageDailyUsageOfWaterContainerIcon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 3.333px 7.5px;
    justify-content: center;
    align-items: center;
    gap: 6.667px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 8px solid rgba(77, 139, 255, 0.06);
    background: #fff;
  }
  
  .HomePageAverageBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
  }
  
  .HomePageAverageBoxText {
    color: #667085;
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065px;
  }
  
  .HomePageAverageBoxAveragePercentage {
    color: #333843;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .HomePageAverageBoxAveragePercentageAdvance {
    padding: 1px 10px;
    border-radius: 40px;
    background: #e7f4ee;
    color: #0d894f;
    text-align: center;
    font-family: Figtree;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 5px;
  }
  
  .HomePageAverageBoxCurrentWaterLevel {
    color: #4d8bff;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06px;
    margin: 0px 5px;
  }
  
  .HomePageAverageBoxEstimatedUsage {
    color: #333843;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06px;
    margin: 0px 5px;
  }
  
  .HomePageMyTankSignalAndBatteryContainer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .HomePageMyTankSignalAndBatteryCart {
    display: flex;
    width: 317px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #f5f6f8;
    margin: 0.5rem;
  }
  
  .HomePageMyTankSignalAndBatteryCartIconContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    height: 50px !important;
  }
  
  .HomePageMyTankSignalAndBatteryCartIconTitle {
    color: #667085;
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065px;
    margin: 0rem;
  }
  
  .HomePageMyTankSignalAndBatteryCartIconText {
    color: #333843;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.1px;
  }
  
  .HomePageMyTankSignalAndBatteryCartIcon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 3.333px 7.5px;
    justify-content: center;
    align-items: center;
    gap: 6.667px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 8px solid rgba(244, 139, 53, 0.1);
    background: #fff;
    margin: 0rem;
  }
  
  .HomePageDeviceManagementAndHardwareInformationContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 10px;
    padding: 1rem 0rem;
    width: 100%;
  }
  
  .HomePageDeviceManagement {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    padding: 2rem;
  }
  
  .CarouselContainer {
    border-radius: 16px;
    background: #FFF;
    width: 30rem;
    margin-left: 1rem;
  }
  
  .HomePageDeviceManagementText {
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0rem;
  }
  
  .HomePageDeviceManagementTextContent {
    width: auto;
    height: 68px;
    flex-shrink: 0;
    margin: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0rem 0.5rem;
    border: 1px solid #f0f2f4;
  }
  
  .HomePageDeviceManagementTextContentLine {
    width: auto;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f0f2f4;
  }
  .HomePageDeviceManagementHeaderContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0rem;
  }
  .HomePageDeviceManagementHeaderButton{
    border: none;
    background-color: #fff;
    padding: 0rem !important;
  }
  .HomePageHardwareInformation {
    width: 310px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fff;
    padding: 1.5rem;
  }
  
  .HomePageHardwareInformationContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.5rem 0rem;
    margin: 1rem 0rem;
  }
  
  .HomePageHardwareInformationContent {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  
  .HomePageHardwareInformationTextContent {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
  }
  
  .HomePageHardwareInformationTextContentText {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -5rem;
  }
  
  .HomePageHardwareInformationTextContentVersion {
    background-color: #5dc036;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 2px 18px;
    font-size: 14px;
    color: #fff;
    width: 25%;
  }
  
  .HomePageHardwareInformationTextContentLineBorder {
    width: 100%;
    height: 1px;
    background-color: #d4d4d4;
  }
  
  .HomePageDeviceManagementContentData {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .HomePageDeviceManagementContentDataCircle {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #f5f4f4;
  }
  
  .HomePageDeviceManagementContentDataText {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .HomePageHardwareInformationContainerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .HomePageHardwareInformationContainerFooterText {
    color: #000000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .HomePageDeviceManagementContentDataTextWork {
    color: #b6b6b6;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .HomePageDeviceManagementContentDataTextWorkDays {
    color: #4d8bff;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 0.5rem;
  }
  
  
  
  .homePageTableData {
    padding: 1rem;
  }
  
  .homePageTableDataNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  .homePageTableDataNavText {
    color: var(--neutrals-900, #181C20);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .homePageTableDataNavTextViewAll {
    color: #000;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid var(--neutrals-200, #CBD4DD);
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .LinkDeviceManagement {
    text-decoration: none !important;
    color: unset !important;
    cursor: pointer !important;
  }
  
  .homepageTankContainerTooltipContent {
    display: flex;
    width: 208px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
  }
  
  .homepageTankContainerTooltipWaterlevelTextContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
  }
  
  .homepageTankContainerTooltipWaterlevelTextContentText {
    color: var(--neutrals-900, #181C20);
    align-self: stretch;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  
  .homepageTankContainerTooltipWaterlevelTextContentTextStatus {
    color: #EC7840;
    align-self: stretch;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  
  .homepageTankContainerTooltipWaterlevelNumberContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }
  
  .homepageTankContainerTooltipWaterlevelNumberContainerText {
    color: #000;
    text-align: right;
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  
  .homepageTankContainerTooltipWaterlevelNumberContainerPercentage {
    color: var(--neutrals-500-main, #6A7A8A);
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .HomePageDeviceManagementAndHardwareInformationContainer{
    padding:0px;
  }
  
  
  .dataTableHEaderText {
    color: #000;
    font-family: Figtree;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .TableRowINDashBoard{
    background-color: #fff;
    border-radius: 10px;
  }
  .datatableWaterLevel{
    background-color: #F5F6F8 !important;
    border: none;
    box-shadow: unset;
    color: rgba(0, 0, 0, 0.5) !important;
    font-family: figtree, 'sans-serif' !important;
    border-bottom: none !important;
  }
  .TableRowINDashBoardRow{
    border-bottom: none !important;
  }
  .TableRowINDashBoardEmptyRow{
    border-bottom: none !important;
    background-color: #F5F6F8 !important;
  }
  .TableComtainerInDashboard{
    box-shadow: none !important;
  }
  .HomePageVideoContnet{
    width: 100%;
    margin-left: 0.6rem;
  }
  .literstoGallonsConvertion{
    margin:  0rem ;
    font-size: 14px;
  }
  .Battery{
    width:24px;
    height:24px;
   
    
  }
  .useageAndForecostDropDown{
    border: 1px solid #0000 !important;
  }
  .DRopDownListTankDetailsdata{
    font-weight: 800;
  }
  
  
  .ReplaceFilter{
    
    color: #129bd6;
    /* / font-family: Figtree; / */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #c2d2ef;
    border-radius: 10%;
    height: 25px;
    /* / width: 60px; / */
    /* / text-align: center; / */
    padding: 3px;
  
  }
  
/*   
  @media only screen and (max-width: 650px) {
    .CarouselContainer {
        
        width: 19rem !important;
        
      }
      .HomePageMyTankContainerHeader{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around;
        
      }
      .QuickSetupGuideContainer{
        display: flex !important;
        flex-direction: column !important;
  
      }
    
    }
   */
  
  /* @media only screen and  (max-width: 550px){
    .HomePageHeaderTankAndQuickDetails{
      display: flex;
      flex-direction: column;
  
      display: flex;
      flex-direction: column;
      
    }
  
    .HomePageHeaderTankAndQuickDetails{
      display: flex;
      flex-direction:column;
  
    }
    .recharts-wrapper{
      width:450px !important ;
      display: flex;
      flex-direction: column;
      
    }
    .recharts-surface{
      display: flex;
      flex-direction: column;
      
      width:50% !important ;  
  
    }
  
  } */
  

  
/*   
  @media only screen and (min-width: 250px) and (max-width: 374px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 18rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 300px;
      width: 230px;
    }
  
    .HomePageTankCloser {
      width: 85px;
      height: 13px;
      margin-left: 73px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 322px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 212px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 230px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
    }
  
    .HomePageAverageDailyUsageOfWaterContainer {
      width: 100%;
      padding: 0rem;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      padding: 0rem;
      display: flex;
      flex-direction: column !important;
    }
  
    .HomePageDeviceManagement {
      width: unset;
      padding: 1rem;
      height: unset;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageHardwareInformation {
      width: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      width: unset;
      padding: 5px;
      gap: 7px;
      margin: 5px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      width: unset;
      height: unset;
      padding: unset;
      gap: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCartIconTitle {
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
    }
    .HomePageDeviceManagementAndHardwareInformationContainer{
      width: 100%;
    }
    .HomePageDeviceManagementText{
      font-size: 16px !important;
    }
  } */
  
  /* @media only screen and (min-width: 375px) and (max-width: 424px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 21rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 358px;
      width: 272px;
    }
  
    .HomePageTankCloser {
      width: 103px;
      height: 13px;
      margin-left: 87px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 378px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 257px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 272px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
    }
  
    .HomePageAverageDailyUsageOfWaterContainer {
      width: 100%;
      padding: 0rem;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      padding: 1  rem;
      display: flex;
      flex-direction: column !important;
    }
  
    .HomePageDeviceManagement {
      width: unset;
      padding: 1rem;
      height: unset;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageHardwareInformation {
      width: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      width: unset;
      padding: 5px;
      gap: 7px;
      margin: 5px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      width: unset;
      height: unset;
      padding: unset;
      gap: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCartIconTitle {
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      width: auto;
    }
  } */
  
  /* @media only screen and (min-width: 425px) and (max-width: 525px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
  
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width:400px;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      display: flex;
      padding: 1rem;
    }
  
    .HomePageDeviceManagement {
      width: unset;
      padding: 1rem;
      height: unset;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageHardwareInformation {
      width: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      margin: 3px;
      padding: 10px;
      gap: 0px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      display: flex;
      width: 26px;
      height: 20px;
      padding: 3.333px 2.5px;
      gap: 6.667px;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      width: auto;
    }
  } */
  /* @media only screen and (min-width: 526px) and (max-width: 600px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
  
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 31rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      display: flex;
      padding: 1rem;
    }
  
    .HomePageDeviceManagement {
      width: unset;
      padding: 1rem;
      height: unset;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageHardwareInformation {
      width: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      margin: 3px;
      padding: 10px;
      gap: 0px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      display: flex;
      width: 26px;
      height: 20px;
      padding: 3.333px 2.5px;
      gap: 6.667px;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      width: auto;
    }
  } */
  
  /* @media only screen and (min-width: 601px) and (max-width: 650px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 37rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 0rem 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 350px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      display: flex;
      padding: 1rem;
    }
  
    .HomePageDeviceManagement {
      width: unset;
      padding: 1rem;
      height: unset;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageHardwareInformation {
      width: unset;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      margin: 3px;
      padding: 10px;
      gap: 0px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      display: flex;
      width: 26px;
      height: 20px;
      padding: 3.333px 2.5px;
      gap: 6.667px;
  
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      width: auto;
    }
  } */
  
  /* @media only screen and (min-width: 651px) and (max-width: 767px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38rem;
      margin-left: 2rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 0rem 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: row;
    }
  
    .HomePageTankContainer {
      padding: 0rem;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageQuickStatsText {
      display: none;
    }
  
    .HomePageQuickStats {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .HomePageMyTankSignalAndBatteryContainer {
      display: flex;
      padding: 1rem;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
  
    .HomePageMyTankSignalAndBatteryCart {
      margin: 3px;
      padding: 10px;
      gap: 0px;
    }
  
    .HomePageMyTankSignalAndBatteryCartIcon {
      display: flex;
      width: 26px;
      height: 20px;
      padding: 3.333px 2.5px;
      gap: 6.667px;
  
    }
  } */
  
  /* @media only screen and (min-width: 768px) and (max-width: 900px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 1rem;
     
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-around;
     }
  
    .HomePageTankBody {
      height: 350px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
    }
  
    .HomePageDeviceManagement {
      width: 325px;
      padding: 1rem !important;
    }
  .HomePageQuickStats{
    width: 40% !important;
  }
  } */
  
  /* @media only screen and (min-width: 901px) and (max-width: 1000px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageTankContainer {
      width: 291px;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-between !important;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 297px;
      margin-left: 1rem;
    }
  
    .HomePageChartLinesLineMesurement {
      width: 314px;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      width: 100%;
      justify-content: space-evenly;
    }
  
    .HomePageDeviceManagement {
    padding: 1rem;
    }
    .HomePageQuickStats{
      width: 25% !important;
    }
  } */
  

  
  @media only screen and (min-width: 318px) and (max-width: 375px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 200px;
    }
  
    .HomePageTankCloser {
      width: 86px;
      height: 13px;
      margin-left: 57px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 200px;
      height: 1px !important;
      margin-left: 0.47rem;
      background-color: #e1e2e4 !important;
    }
  
    /* .HomePageChartLinesLineMesurement {
      width: 314px;
    } */
    .HomePageChartLinesLineMesurementOne {
      width: 200px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementTwo {
      width: 200px;
      height: 1px !important;
      margin-left: 0.45rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementThree {
      width: 200px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFour {
      width: 200px;
      height: 1px !important;
      margin-left: 0.6rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFive {
      width: 170px;
      height: 1px !important;
      margin-left: 1.8rem;
      background-color: #e1e2e4 !important;
    }
  
    .HomePageDeviceManagement {
      padding: 1rem;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
    .HomePageQuickStats{
      width: 100% !important;
      margin-top: 2rem;
    }
    .HomePageMyTankSignalAndBatteryContainer {
      display: inline;
      justify-content: space-around;
      padding: 1rem;
    }
    .HomePageMyTankSignalAndBatteryCart{
      width: 95%;
    }
  
  }
  @media only screen and (min-width: 375px) and (max-width: 425px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 250px;
    }
  
    .HomePageTankCloser {
      width: 134px;
      height: 13px;
      margin-left: 57px;
      margin-bottom: 2px;
    }
  
    /* .H .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    } */
    .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 250px;
      height: 1px !important;
      margin-left: 0.47rem;
      background-color: #e1e2e4 !important;
    }
  
    /* .HomePageChartLinesLineMesurement {
      width: 314px;
    } */
    .HomePageChartLinesLineMesurementOne {
      width: 250px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementTwo {
      width: 250px;
      height: 1px !important;
      margin-left: 0.45rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementThree {
      width: 250px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFour {
      width: 250px;
      height: 1px !important;
      margin-left: 0.6rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFive {
      width: 220px;
      height: 1px !important;
      margin-left: 1.8rem;
      background-color: #e1e2e4 !important;
    }
  
    .HomePageDeviceManagement {
      padding: 1rem;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
    .HomePageQuickStats{
      width: 100% !important;
      margin-top: 2rem;
    }
    .HomePageMyTankSignalAndBatteryContainer {
      display: inline;
      justify-content: space-around;
      padding: 1rem;
    }
    .HomePageMyTankSignalAndBatteryCart{
      width: 95%;
    }
  
  }

  @media only screen and (min-width: 425px) and (max-width: 625px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: column;
      justify-content: start;
            gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: space-around;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
   
  
    .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 313px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
  
    /* .HomePageChartLinesLineMesurement {
      width: 314px;
    } */
    .HomePageChartLinesLineMesurementOne {
      width: 314px;
      height: 1px !important;
      margin-left: 0.47rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementTwo {
      width: 314px;
      height: 1px !important;
      margin-left: 0.45rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementThree {
      width: 314px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFour {
      width: 314px;
      height: 1px !important;
      margin-left: 0.6rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFive {
      width: 285px;
      height: 1px !important;
      margin-left: 1.8rem;
      background-color: #e1e2e4 !important;
    }
  
    .HomePageDeviceManagement {
      padding: 1rem;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
    .HomePageQuickStats{
      width: 100% !important;
      margin-top: 2rem;
    }
    .HomePageMyTankSignalAndBatteryContainer {
      display: inline;
      justify-content: space-around;
      padding: 1rem;
    }
    .HomePageMyTankSignalAndBatteryCart{
      width: 95%;
    }
  
  }
  @media only screen and (min-width: 625px) and (max-width: 1440px) {
    .HomePageContainer {
      display: flex;
      flex-direction: column;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 100%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 313px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
  
    /* .HomePageChartLinesLineMesurement {
      width: 314px;
    } */
    .HomePageChartLinesLineMesurementOne {
      width: 314px;
      height: 1px !important;
      margin-left: 0.47rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementTwo {
      width: 314px;
      height: 1px !important;
      margin-left: 0.45rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementThree {
      width: 314px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFour {
      width: 314px;
      height: 1px !important;
      margin-left: 0.6rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFive {
      width: 285px;
      height: 1px !important;
      margin-left: 1.8rem;
      background-color: #e1e2e4 !important;
    }
  
    .HomePageDeviceManagement {
      padding: 1rem;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
    }
    .HomePageQuickStats{
      width: 35% !important;
      margin-top: 2rem;
    }
  
  }

  @media only screen and (min-width: 1440px) and (max-width: 3000px) {
    .HomePageContainer {
      display: flex;
      flex-direction: row;
    }
    .HomePageDeviceManagementContentDataTextWorkDays {
      color: #4d8bff;
      font-family: Figtree;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-right: 0.5rem;
    }
    .ReplaceFilter{
    
      color: #129bd6;
      /* / font-family: Figtree; / */
      font-size: 20px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: #c2d2ef;
      border-radius: 10%;
      height: 25px;
      /* / width: 60px; / */
      /* / text-align: center; / */
      padding: 3px;
    
    }
    .HomePageDeviceManagementContentDataText {
      color: #000;
      font-family: Figtree;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .CarouselContainer {
      border-radius: 16px;
      background: #FFF;
      width: 38.5rem;
      margin-left: 0rem;
    }
    .HomePageVideoContnet{
      width: 100%;
      margin-left: 0rem;
    }
  
    .HomePageMyTankContainer {
      width: 60%;
      height: auto;
      padding: 1.5rem 0rem !important;
    }
  
    .HomePageMyTankContainerHeader {
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 10px;
      padding: 1rem;
    }
  
    .HomePageHeaderTankAndQuickDetails {
      display: flex;
      align-items: start;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .HomePageTankBody {
      height: 400px;
      width: 314px;
    }
  
    .HomePageTankCloser {
      width: 117px;
      height: 13px;
      margin-left: 103px;
      margin-bottom: 2px;
    }
  
    .HomePageChartLines {
      height: 421px;
      margin-top: 19px;
    }
  
    .HomePageChartLinesLineMesurementMinimum {
      width: 313px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
  
    /* .HomePageChartLinesLineMesurement {
      width: 314px;
    } */
    .HomePageChartLinesLineMesurementOne {
      width: 314px;
      height: 1px !important;
      margin-left: 0.47rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementTwo {
      width: 314px;
      height: 1px !important;
      margin-left: 0.45rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementThree {
      width: 314px;
      height: 1px !important;
      margin-left: 0.5rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFour {
      width: 314px;
      height: 1px !important;
      margin-left: 0.6rem;
      background-color: #e1e2e4 !important;
    }
    .HomePageChartLinesLineMesurementFive {
      width: 285px;
      height: 1px !important;
      margin-left: 1.8rem;
      background-color: #e1e2e4 !important;
    }
  
    .HomePageDeviceManagement {
      /* padding: 1.5rem; */
      height: auto;
    }
  
    .HomePageDeviceManagementAndHardwareInformationContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
  
    .HomePageDeviceManagementTextContent {
      width: auto;
      /* height: 30%; */
    }
  
    .HomePageDeviceManagementTextContentLine {
      width: auto;
      align-content: center;
      /* height: 30%; */
    }
    .HomePageQuickStats{
      width: 40% !important;
      margin-top: 2rem;
    }
  
  }

  
  .leaflet-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-container, .leaflet-pane > svg, .leaflet-pane > canvas, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  
    position: unset !important;
  }















/* used for device card........ */

  /* .Index_HomePageDeviceManagementTextContentLine__SemMj {
    align-content: center;
    width: auto;
    justify-content: center;
    height: 30%;
    align-items: center;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #f0f2f4;} */



    /* .Index_HomePageDeviceManagement__jY6kV {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 24px;
        background: #fff;
        padding: 2rem;
    } */



    /* Index_HomePageDeviceManagementTextContentLine__SemMj {
        width: auto;
        padding: 0.5rem;
        height: 30%;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #f0f2f4;
    } */