.techniciandetailsAdmin{
    width: 25% !important;
   }
   .BookingDateAdmin{
    width: 25% !important;
   }
   .BookingdetailsAdmin{
    width: 25% !important;
   }
   .BookingDateAdmin{
    width: 25% !important;
   }
  