.DeviceManagement {
    max-width: 100%;
    padding: 24px;

    .Top {

        .HeadTextAddButton {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .HeadText {
                p {
                    color: #000;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .AddButton {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 48px;
                    color: #fff;
                    width: 152px;
                    background: #222;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2) !important;
   
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
   
    background-color: rgba(31, 30, 30, 0.1) !important;
    
}
.css-nhwjjo {
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2 ) !important;
}
.modelPopDeviceManagent{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
      
  }
  .modelPopDeviceManagentButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
  }
  .deviceDeletePopCancleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    margin: 0rem 1rem;
    padding: 0.7rem 2rem;
    border: 0.5px solid #B9B9B9

  }
  .deviceDeletePopDDeleteButton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    // background-color: red;
    background: #E74C3C;

    color: #fff;
    margin: 0rem 1rem;
    padding: 0.7rem 2rem;

  }
  
  