.DeviceManagement {
  max-width: 100%;
  padding: 24px;
}
.DeviceManagement .Top .HeadTextAddButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.MuiBackdrop-root.MuiModal-backdrop.css-919eu4{
  background: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.input{
  color: black !important;
}
label#DeviceName-label,label#\:rb7\:-label,label#\:rbb\:-label,label#TankCapacity-label,label#TankType-label{
  color: black !important;
}
input#DeviceName,input#TankCapacity,input#TankType,label#\:r41\:-label,label#\:r45\:-label{
  color: black !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: black !important;
}
.MuiFormControl-root.MuiTextField-root.css-165mck1{
  width: 100% !important;
  margin-top: 15px !important;
}
.DeviceManagement .Top .HeadTextAddButton .HeadText p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.updateTitle{
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root{
  width: 100% !important;
  margin-top: 20px;
}

.table-row-custom {
  background-color: white !important; /* Or any color you want */
}
.DeviceManagement .Top .HeadTextAddButton .AddButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 48px;
  width: 152px;
  border-radius: 8px;
  background: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  border: none !important;
  cursor: pointer;
}
.DeviceManagement .Bottom {
  margin-top: 30px;
  width: 100%;
}
.DeviceManagement .Bottom table {
  width: 100%;
}
.DeviceManagement .Bottom table thead {
  width: 100%;
}
.DeviceManagement .Bottom table thead .TableHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.DeviceManagement .Bottom table thead .TableHead .Icon {
  width: 0px;
}
.DeviceManagement .Bottom table tbody {
  cursor: pointer;
  width: 100%;
}
.DeviceManagement .Bottom table tbody .TableBody {
  margin-top: 8px;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24.131px 0px 27.147px;
}
.DeviceManagement .Bottom table tbody .TableBody td {
  text-align: right;
  color: var(--colors-black-100, #000);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.DeviceManagement .Bottom table tbody .TableBody .TankName {
  margin-left: -90px;
}
.DeviceManagement .Bottom table tbody .TableBody .Status {
  width: 70px;
  margin-left: -80px;
}
.DeviceManagement .Bottom table tbody .TableBody .WaterLevel {
  margin-left: -35px;
}
.DeviceManagement .Bottom table tbody .TableBody .LastRefill {
  margin-left: -30px;
}
.DeviceManagement .Bottom table tbody .TableBody .NextMaintenence {
  margin-left: -40px;
}
.DeviceManagement .Bottom table tbody .TableBody .LastUpdated {
  margin-right: -50px;
}/*# sourceMappingURL=DeviceManagement.css.map */

table.table thead th {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

table.table th,
table.table td {
  vertical-align: center !important;
}
[data-test*="table-foot"] {
  display: none !important;
}
.activeTable{
  width: 90%;
  margin: auto;
  padding: 2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}
.modelPopDeviceManagent{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  border: 1px solid #ECF0F4;
  border-radius: 8px;
  box-shadow: 4;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
 
}
.editDeviceContainer{
  display: flex;
flex-direction: column;  
justify-content:space-between ;
width: 70%;
}
.EditDeviceButton{
  background-color: #189cdf;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  margin: 0.5rem;
}
.Data{
  width: 100%;
  display: flex;
  margin: 0rem 1rem;
  justify-content: space-between;
}
.th-sortable i {
  display: none !important;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
  overflow: auto;
}
.header {
  /* optional container styles */
}

@media only screen and (min-width: 201px) and (max-width: 767px) {
.heading {
  text-align: center;
}
.modelPopDeviceManagent{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ECF0F4;
  border-radius: 8px;
  box-shadow: 4;
  /* p: 4, */
    
}
}