.MyBookings{
    max-width: 100%;
    padding: 24px;

    .HeadText{
        color: #000;
        font-family: Figtree;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
        margin-bottom: 32px;

        .MyBookingTabs{
            width: 200px;
            padding: 12px 32px;
        }
    }
}


.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #000 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    text-transform: none !important;
}
.css-19kzrtu{
    padding: 0px !important;
}
button#simple-tab-0{
    width: 83px;
    padding: 12px 32px;
}
button#simple-tab-1{
    width: 140px;
    padding: 12px 32px;
}
button#simple-tab-2{
    width: 136px;
    padding: 12px 32px;
}
buttom#simple-tab-3{
    width: 143px;
    padding: 12px 32px;
}